*{
  box-sizing: border-box;
  margin: 30;
  padding: 20;
  background-color: rgb(206, 206, 206);
  text-align: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

